$leftSpace: 100px;

.highlight {
  display: inline-block;
  padding: 20px;
  padding-left: $leftSpace;
  // border-bottom-left-radius: 80px;
  // border-top-right-radius: 80px;
  // border-top-left-radius: 40px;
  // border-bottom-right-radius: 40px;
  border-radius: 10px $leftSpace 10px  $leftSpace;
}

$hightlightTheme: "autumn";

@import "pygments-css/fruity.css";
